/*Beginner knowledge level of CSS, projected to advance in upcoming courses*/

/*Body sturcture of web page*/
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #061C37;
	background-image:url(GoldenOnes.jpg);
	background-repeat:repeat;
}
*
{
  margin: 0 auto 0 auto;
  text-align:center;
}

/*Page structure of web page*/
#page
{
  display: block;
  height:auto;
  position: relative;
  overflow: hidden;
  width: 750px;
}

/*Box #1 Outside box Structure*/
.contentBox1
{
margin-top: 150px;
width:750px;
height:auto;
background-color:#160306;
opacity: 0.9;
padding-bottom:10px;
}

/*Box #2 Outside box Structure*/
.contentBox2
{
margin-top: 50px;
width:750px;
height:auto;
background-color:#160306;
opacity: 0.9;
padding-bottom:10px;
}

/*Box #1 inner box structure*/
.contentBox1 .innerBox
{
margin-left:10px;
position:relative;
width:730px;
height:auto;
top:10px;
background-color:#FFFFFF;
}

/*Box #2 inner box structure*/
.contentBox2 .innerBox
{
margin-left:10px;
position:relative;
width:730px;
height:auto;
top:10px;
background-color:#FFFFFF;
}

/*Header level one format*/
h1
{
font-size:25px;
margin-bottom:10px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
color:#FF0000;
}

/*Header level three format*/
h3
{
font-size:15px;
margin-bottom:10px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
color:#1F1603;
}

/*Header level four format*/
h4
{
font-size:15px;
margin-bottom:10px;
margin-left:15px;
margin-top:10px;
color:#1F1603;
}

/*Alignment structure for all data in the form*/
form
{
	text-align:center;
}

/*Alignment structure for the body of the web page*/
html, body {
text-align: center;
}
p {text-align: left;}
